<mt:include name="dialog/header.tmpl" />

<p><__trans phrase="Exporting...([_1]-[_2])" params="<mt:var name='start'>%%<mt:var name='end'>"></p>

<form id="next_step" action="<$MTVar name='script_url'$>" method="GET">
    <input type="hidden" name="__mode" value="ee_exporting" />
    <input type="hidden" name="blog_id" value="<$MTVar name='blog_id'$>" />
    <mt:If name="all_selected">
        <input type="hidden" name="all_selected" value="1" />
    </mt:If>
    <input type="hidden" name="_type" value="<$MTVar name='_type'$>" />
    <mt:Loop name="ids"><input type="hidden" name="id" value="<mt:var name="__value__">" /></mt:Loop>
    <input type="hidden" name="page" value="<$MTVar name='page'$>" />
    <input type="hidden" name="out" value="<$MTVar name='out'$>" />
</form>

<mt:SetVarBlock name="jq_js_include" append="1">
jQuery(function(){
    jQuery('#next_step').submit();
});
</mt:SetVarBlock>

<mt:include name="dialog/footer.tmpl" />

