<mt:include name="dialog/header.tmpl" />

<p><__trans phrase="Importing...(The remnant number of [_1])" params="<mt:var name='remnant'>"></p>

<form id="next_step" action="<$MTVar name='script_url'$>" method="GET">
    <input type="hidden" name="__mode" value="ee_importing" />
    <input type="hidden" name="return_args" id="this_return_args" value="<mt:var name="return_args" escape="html">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
    <input type="hidden" name="blog_id" value="<$MTVar name='blog_id'$>" />
    <input type="hidden" name="_type" value="entry" />
    <input type="hidden" name="out" value="<$MTVar name='out'$>" />
</form>

<mt:SetVarBlock name="jq_js_include" append="1">
jQuery(function(){
    jQuery('#next_step').submit();
});
</mt:SetVarBlock>

<mt:include name="dialog/footer.tmpl" />

