<mtapp:setting id="per_page" label="Set number of export entries per page.">
    <input type="text" name="per_page" id="per_page" value="<mt:GetVar name="per_page">" size="5" />
</mtapp:setting>
<mtapp:setting id="path_exporting" label="Non-ZIP Exporting">
    <input type="text" name="path_exporting" id="path_exporting" value="<mt:GetVar name="path_exporting">" />
</mtapp:setting>
